:root {
    --color-primary: #151595;
    --white: #ffffff;
    --black: #000000;
    --gray: #cccccc;
    --gray-medium: #808080;
    --danger: #df1919ce;
    --gradient: #00000080;
    --container: 1000px;
}