<div class="modal" *ngIf="show">
  <div class="tools">
    <div class="close" (click)="closeModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="title">Add Widget</div>
    <div class="option" (click)="addWidget(1)">
      <i class="fa fa-picture-o" aria-hidden="true"></i> 
      <span>Image</span>
    </div>
    <div class="option" (click)="addWidget(2)">
      <i class="fa fa-paragraph" aria-hidden="true"></i> 
      <span>Text</span>
    </div>
    <div class="option" (click)="addWidget(3)">
      <i class="fa fa-hand-spock-o" aria-hidden="true"></i> 
      <span>Hello</span>
    </div>
  </div>
</div>