<div class="modal" *ngIf="show">
    <div class="modal__tools">
      <div class="modal__close" (click)="closeModal()"><i class="fa fa-times" aria-hidden="true"></i></div>
      <div class="modal__tools__title">Add Widget</div>
      <div class="modal__tools__option" (click)="addWidget(1)">
        <i class="fa fa-picture-o" aria-hidden="true"></i> Image
      </div>
      <div class="modal__tools__option" (click)="addWidget(2)">
        <i class="fa fa-paragraph" aria-hidden="true"></i> Text
      </div>
      <div class="modal__tools__option" (click)="addWidget(3)">
        <i class="fa fa-hand-spock-o" aria-hidden="true"></i> Hello 
      </div>
    </div>
  </div>