.manage{
    width: 100%;
    height: 100vh;
    padding-top: 16px;
    display: flex;
    flex-direction: row;   
    &__creator{
        width: 100%;
        height: 90vh;
        margin-right: 10px;
        background: white;
        display: flex;
        flex-direction: column;
        &__form{
            height: 90vh;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;   
            &__component{
                width: 100%;
                margin-top: 10px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid #797979;
                margin-bottom: 10px;
            }
            &__close{
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #184c6e;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -10px;
                right: -9px;
            }
        }
        &__add{
            padding: 16px;
            display: flex;
            width: 100%;
            justify-content: center;
            &__btn{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: darkblue;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }
    }
}

