<div class="content">
    <div class="content__container">
      <div class="manage">
        <div class="manage__creator" style="overflow-y: scroll;">
          <div class="manage__creator__form"  >
            <div class="manage__creator__form__component">
            <div class="manage__creator__add">
              <div (click)="showModalWidget()">
                <i class="fa fa-plus"></i>
              </div>
            </div>
            <ng-container *ngFor="let componente of components">
              <div class="manage__creator__form__component" *ngIf="componente.type == 'img'" >
                <div class="manage__creator__form__close" (click)="removeWidget(componente)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div> 
                <input type="file" name="{{componente.name}}" (change)="handleUpload($event, componente)" placeholder="Adjunte una imagen">
              </div>
              <div class="manage__creator__form__component" *ngIf="componente.type == 'vid'" > 
                <div class="manage__creator__form__close" (click)="removeWidget(componente)">
                    <i class="fa fa-timesh" aria-hidden="true"></i>
                </div> 
                <textarea name="componente.name" id="" rows="10" placeholder="Agregue el texto " [(ngModel)]="componente.value"></textarea>
              </div>
              <div class="manage__creator__form__component" *ngIf="componente.type == 'par'" > 
                <div class="manage__creator__form__close" (click)="removeWidget(componente)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div> 
                componente hello 
              </div>
            </ng-container>
            
            <button (click)="showRender()" >
                <i class="fa fa-cog fa-spin" aria-hidden="true"></i> Render
            </button>
            
            <div class="manage__creator__form__component">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-widget-modal></app-widget-modal>
  
