<div class="content">
    <div class="content__container">
      <div class="manage">
        <div class="manage__creator" >
          <div class="manage__creator__form"  >
            <div class="manage__creator__form__component">
            <div class="manage__creator__add">
              <div (click)="showModalWidget()">
                <i class="fa fa-plus"></i>
              </div>
            </div>
            <ng-container *ngFor="let component of components">
              <div class="manage__creator__form__component" *ngIf="component.type == '1'" >
                <div class="manage__creator__form__close" (click)="removeWidget(component)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div> 
                <input type="file" name="{{component.name}}" (change)="handleUpload($event, component)" placeholder="Adjunte una imagen">
              </div>
              <div class="manage__creator__form__component" *ngIf="component.type == '2'" > 
                <div class="manage__creator__form__close" (click)="removeWidget(component)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div> 
                <textarea name="component.name" id="" rows="10" placeholder="Agregue el texto " [(ngModel)]="component.value"></textarea>
              </div>
              <div class="manage__creator__form__component" *ngIf="component.type == '3'" > 
                <div class="manage__creator__form__close" (click)="removeWidget(component)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div> 
                componente hello 
              </div>
            </ng-container>
            
            <button (click)="showRender()" >
                <i class="fa fa-cog fa-spin" aria-hidden="true"></i> Render
            </button>
            
            <div class="manage__creator__form__component">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-widget-modal></app-widget-modal>
  
